streamlit==1.44.1
diffusers==0.30.3  # Downgrade to a stable version
torch==2.4.1  # Use a more stable version for Python 3.12
pandas==2.2.3
numpy==2.0.2
pillow==11.1.0
gdown==5.2.0
transformers==4.44.2  # Downgrade to match diffusers
huggingface_hub==0.25.2
